@{
    ViewData["Title"] = "Ethereum Transaction Search";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<br />
<br />

<div class="panel panel-primary">
    <div class="panel-heading">
        Block Number: <input type="text" id="BlockNumber"/>
        Address: <input type="text" id="Address"/>
        <input type="button" id="GetData" value="Search"/> <br/>
        <br/>
    </div>
    <div class="panel-body">
        <table class="table table-bordered" id="Table">
            <tr>
                <th>Block Hash</th>
                <th>Block Number</th>
                <th>From</th>
                <th>Gas</th>
                <th>Gas Price</th>
                <th>Hash</th>
                <th>Transaction Index</th>
                <th>Value</th>
            </tr>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/api/transaction/123?address=address1",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                //alert(JSON.stringify(data));
                $("#DIV").html('');
                var DIV = '';
                $.each(data, function (i, item) {
                    var rows = "<tr>" +
                        "<td id='BlockHash'>" + item.blockHash + "</td>" +
                        "<td id='BlockNumber'>" + item.blockNumber + "</td>" +
                        "<td id='From'>" + item.from + "</td>" +
                        "<td id='Gas'>" + item.gas + "</td>" +
                        "<td id='GasPrice'>" + item.gasPrice + "</td>" +
                        "<td id='Hash'>" + item.hash + "</td>" +
                        "<td id='TransactionIndex'>" + item.transactionIndex + "</td>" +
                        "<td id='Value'>" + item.value + "</td>" +
                        "</tr>";
                    $('#Table').append(rows);
                }); //End of foreach Loop
                console.log(data);
            }, //End of AJAX Success function

            failure: function (data) {
                alert(data.responseText);
            }, //End of AJAX failure function
            error: function (data) {
                alert(data.responseText);
            } //End of AJAX error function

        });
    });
</script>