@{
    ViewData["Title"] = "Ethereum Transaction Search";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<br />
<br />

<div class="panel panel-primary">
    <div class="panel-heading">

    </div>
    <div class="panel-body">
        Block Number: <input type="text" id="BlockNumber" />
        Address: <input type="text" id="Address" />
        <input type="button" id="GetData" value="Search" /> <br />
        <br />
        <div id="loading" style="display: none;">
            <img id="loading-image" src="~/images/ajax-loader.gif" alt="Loading..." />
        </div>
        <table class="blueTable" id="Table" style="display: none;">
            <thead>
                <tr>
                    <th>Block Hash</th>
                    <th>Block Number</th>
                    <th>Gas</th>
                    <th>Hash</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#GetData").click(function () {
            if (!$("#BlockNumber").val()) {
                alert('Please enter a Block Number.');
                return false;
            }

            $("#loading").show();
            $("#Table").hide();

            $.ajax({
                type: "GET",
                url: "/api/transaction/" + $("#BlockNumber").val() + "?address=" + $("#Address").val(),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#Table tbody").empty();

                    $("#DIV").html('');
                    var DIV = '';
                    $.each(data, function (i, item) {
                        var rows = "<tr>" +
                            "<td id='BlockHash'>" + item.blockHash + "</td>" +
                            "<td id='BlockNumber'>" + item.blockNumber + "</td>" +
                            "<td id='Gas'>" + item.gas + "</td>" +
                            "<td id='Hash'>" + item.hash + "</td>" +
                            "<td id='From'>" + item.from + "</td>" +
                            "<td id='To'>" + item.to + "</td>" +
                            "<td id='Value'>" + item.value + "</td>" +
                            "</tr>";
                        $('#Table').append(rows);
                    }); //End of foreach Loop
                    console.log(data);

                    $("#loading").hide();
                    $("#Table").show();
                }, //End of AJAX Success function

                failure: function (data) {
                    alert(data.responseText);
                }, //End of AJAX failure function
                error: function (data) {
                    alert(data.responseText);
                } //End of AJAX error function
            });
        });
    });
</script>